@import '../../app.scss';
.user-avatar {
    height: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    .avatar {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
    }
    .detail {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nickname {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .tel {
        font-size: 28px;
        color: #3F536E;
    }
    .at-icon-chevron-right {
        padding: 20px;
        color: #3F536E;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
    }
}

.info_item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding-left: 64px;
    height: 116px;
    display: flex;
    align-items: center;
    .iconfont {
        font-size: 36px;
        margin-right: 12px;
    }
    .item_name {
        width: 144px;
    }
    .at-tag--active {
        margin-right: 24px;
        &:nth-child(2) {
            background-color: $my-pick;
            border-color: $my-pick;
        }
        &:nth-child(3) {
            background-color: $my-green;
            border-color: $my-green;
        }
    }
}