.user-avatar {
    height: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .avatar {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
    }
    .detail {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nickname {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .tel {
        font-size: 28px;
        color: #3F536E;
    }
    .at-icon-chevron-right {
        padding: 20px;
        color: #3F536E;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
    }
}