.index-history {
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 200px;
    .search-bar {
        z-index: 1000;
    }
    .not-login {
        height: calc(100vh - 364px);
        display: flex;
        align-items: center;
        justify-content: center;
        .login {
            width: 60vw;
        }
    }
    .scroll-view-list {
        height: calc(100vh - 364px);
        .schedule-item {
            margin-top: 20px;
        }
        .at-card {
            transition: background-color .2s;
            &:active {
                background-color: rgba(153, 153, 153, 0.2);
            }
            &.disable-item {
                color: #CCC;
                .at-card__header-title {
                    color: #CCC;
                }
                .at-steps__title {
                    color: #CCC;
                }
                &:active {
                    background-color: transparent;
                }
            }
        }
        .at-card__header-extra {
            color: red;
        }
        .at-steps {
            margin-bottom: 40px;
            .at-steps__title {
                font-size: 26px;
            }
            .at-steps__desc {
                font-size: 22px;
            }
        }
    }
    .pullDownBlock {
        position: relative;
        .tip {
            position: absolute;
            bottom: 30px;
            text-align: center;
            width: 100%;
            color: #6190e8;
            margin-bottom: -20px;
        }
    }
}