@import "~taro-ui/dist/style/index.scss";
@import "~taro-listview/dist/style/index.scss";
@import "./iconfont.scss";
$my-pick: rgba(244, 168, 215, 1);
$my-purple: rgba(222, 184, 238, 1);
$my-test: rgba(190, 200, 252, 1);
$my-blue1: rgba(152, 217, 255, 1);
$my-blue2: rgba(112, 228, 250, 1);
$my-blue3: rgba(89, 238, 231, 1);
$my-blue4: rgba(105, 246, 207, 1);
$my-green: rgba(142, 249, 176, 1);
$my-yellow: rgba(226, 251, 117, 1);