@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1620382233390') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-school:before {
  content: "\e6d9";
}

.icon-name:before {
  content: "\e74c";
}

.icon-shangquan:before {
  content: "\e8b6";
}

.icon-shequ:before {
  content: "\e8b8";
}

.icon-shuju:before {
  content: "\e8b9";
}

.icon-sousuo:before {
  content: "\e8ba";
}

.icon-sex:before {
  content: "\e653";
}

.icon-city:before {
  content: "\e686";
}

.icon-academicdegree:before {
  content: "\e828";
}

.icon-email:before {
  content: "\e5c8";
}

.icon-line-codesslashdaimasxiegang:before {
  content: "\e6f1";
}

