@import '../../app.scss';
.tips-choose-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .tips-choose {
        height: 90vh;
        display: flex;
        .trade {
            width: 20vw;
            height: 90vh;
            background-color: #F7F7F7;
            .trade-item {
                width: 100%;
                height: 96px;
                text-align: center;
                line-height: 96px;
                // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                &.trade-item-active {
                    background-color: white;
                }
            }
        }
        .tips {
            height: 90vh;
            width: 80vw;
            .tips-container {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
                .tips-item {
                    color: rgba(0, 0, 0, 0.4);
                    width: 30%;
                    min-width: 30%;
                    max-width: 30%;
                    height: 96px;
                    text-align: center;
                    line-height: 96px;
                    border: 2px solid rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    margin: 10px 0;
                    &.tips-item-active {
                        color: $my-purple;
                        border: 2px solid $my-purple;
                    }
                }
            }
        }
    }
    .save-button {
        height: 10vh;
    }
}